/*LAYOUT*/

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addTask {
    margin: 1em;
    padding: 0.5em;
}

.taskList {
    margin: 1em;
    padding: 1em;
    width: 57vw;
}

#inputId {
    width: 54vw;
    height: 5vh;
}

#buttonAdd {
    height: 5.6vh;
    width: 3vw;
}

.taskItem span {
    overflow-wrap: break-word;
}