/*LAYOUT TAREA DE UNA LISTA*/

/* #container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addTask {
    margin: 1em;
    padding: 0.5em;
}

.taskList {
    margin: 1em;
    padding: 1em;
    width: 57vw;
}

#inputId {
    width: 54vw;
    height: 5vh;
}

#buttonAdd {
    height: 5.6vh;
    width: 3vw;
}

.taskItem span {
    overflow-wrap: break-word;
} */

/*THEME TAREA DE UNA LISTA*/



/* he creado esta parte para hacer el efecto, con esto se pasa el mouse por el texto y queda tachado*/

/* span:hover {
    text-decoration: line-through;
    color: rgb(105, 88, 65); 
     text-shadow: 0 0 30px #0FF0, #0fff; 
    /*efecto sombra para el texto*/
/* } */


/*----*/

/* #inputId {
    background-color: #ddd;
    box-shadow: 0 0 20px #4f9;
    margin-right: 10px;
} */


/* CSS DASHBOARD LIKE TRELLO*/


/* LAYOUT */
.addTask {
    display: flex;
}

.inputNewList { 
    width: 20vw;
}
.addList {
    margin-left: 5px;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.lists {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    margin: 0 5px;
    align-items: flex-start;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: row;
}

.list {
    width: 30vw;
    margin: 5px 5px;
    padding: 5px;
    flex-wrap: wrap;
    min-width: 270px;
    
}

.taskItem {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
    margin: 5px;
    justify-content: flex-start;
}

.taskItem button {
    margin-right: 10px;
    margin-left: 10px;
}

.listHeader h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    word-break: break-all;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.taskText {
    overflow-wrap: break-word;
    overflow: auto;
}

.inputNewTask {
    flex: 1;
    width: 10vw;
}

.buttonDL {
    margin-right: 10px;
}

/*THEME*/

body,
html {
    background: -webkit-gradient(linear, left top, left bottom, from(#4ABCAD), to(#cbccc8)) fixed;
    font-size: calc(13px + 1vw);
    font-family: 'Cabin', sans-serif;
}


.addTask {
    background-color: #ecf1f1;
}

.inputNewList {
    font-family: 'Cabin',sans-serif;
    font-size: 0.6em;
    box-shadow: 0 0 20px #03f;
}

input, button {
    font-family: 'Cabin',sans-serif;
    font-size: 0.5em;
}

.list {
    background: #cbccc8;
    border: 3px ridge aquamarine;
    border-radius: 0.5em;
}

.buttonDT {
    opacity: 0;
    transition: opacity 2s linear;
}

.taskItem:hover .buttonDT {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.taskItem {
    box-shadow: 0 0 20px rgb(222, 223, 224);
    border-radius: 0.3em;
    background-color: #ecf1f1;
}